* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

// html {
// 	height: 100%;
// }
// body {
// 	min-height: 100vh;
// 	display: flex;
// 	flex-direction: column;
// }

// #footer {
// 	margin-top: auto;
// }
@import './scss//navbar';
@import './scss/custom';
@import '../node_modules/bootstrap/scss/bootstrap';

// .App {
// 	overflow-y: auto;
// 	scroll-snap-type: y mandatory;
// 	height: 100vh;
// }

// section {
// 	height: 100vh;
// 	scroll-snap-align: start;
// }

.projects {
	background: #faa;
}
