* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.projects {
	background: #faa;
}

#footer {
	margin-top: auto;
}

@import './scss/button';
@import './scss/navbar';
@import './scss/custom';
@import '../node_modules/bootstrap/scss/bootstrap';
